:root{
    --primary-color: #161E4C;
    --secondary-color: #D9D9D9;
    --background: #A79FF1;
    --button-color: #161E4C;
    --text-color: #000000;
    --footer-tittle: #171E4A;
    --card-color-primary: #5ACCA4;
    --card-color-secundary: #703CD4;
}